.accordion {
  margin: 2rem 0;

  &__item {
    margin-bottom: 3rem;
    @include grid(2rem);
  }

  &__title {
    display: flex;
    justify-content: space-between;

    * {
      margin: 0;
    }
  }
}