.footer {
  background-color: $color-bg-base;
  position: relative;
  z-index: 2;

  &__container {
    border-top: $border-type-base $border-color-base;
    display: flex;

    @include grid($gap-md);
    gap: $gap-md;
    padding: $padding-lg $padding-no;

    @include breakpoint(md) {
      gap: 1rem;
    }
  }

  &__col {
    &--end {
      margin-right: 0;
      margin-left: auto;

      @include breakpoint(md) {
        margin: 0;
      }
    }
  }

  .logo {
   // border: 3px solid red;
    width: 4rem;
  }

  &__menu {
    display: flex;
    flex-direction: column;
  }

  .copy {
    margin-top: 10rem;

    @include breakpoint(md) {
      margin: 2rem 0;
    }
  }
}
