.gallery {
  position: relative;

  &__item {
    .figure {
      border-radius: 0;
    }
  }
}



.carousel-section {
  overflow: hidden;

  .owl-carousel {
    .owl-stage {
      padding-left: 0 !important;
    }

    .owl-stage-outer {
      overflow: unset;
    }
  }
}