.container {
   // border: 3px solid orange;
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1300px;
}


.grid {
   border: 2px solid red;
    display: flex;
    gap: 2rem;

    &__col {
     border: 3px solid blue;
        width: 50%;
    }
}