.nav {
  display: flex;

  &__item {
    border: $border-type-base transparent;
    border-radius: $border-radius-md;
    margin-left: $margin-sm;
    padding: $padding-xs $padding-sm;

    &.active {
      border-color: $primary-color;
    }
  }

  @include breakpoint(md) {
    display: none;
  }
}
