.slider {
  // background-color: $primary-color;
  // padding: 2rem 0;
  // min-height: 100px;
  // display: flex;
  // align-items: center;
  // justify-content: center;

  // h1 {
  //   color: white;
  //   border: 3px solid violet;
  // }

  position: relative;
  max-height: 30rem;
  overflow: hidden;
  border: 2px solid violet;

  &__content {
    border: 2px solid red;
    @include absolute-center;

  }

  &__image {
    border: 3px solid pink;
    
    
  }
}
