.slider {
  @include position-sticky;
  align-items: center;
  background-size: auto 100% !important;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  padding: $padding-no $padding-lg;
  z-index: -1;

  @include breakpoint(lg) {
    height: 50vh;
  }

  &--home {
    height: 120vh;

    @include breakpoint(lg) {
      height: 100vh;
    }
  }

  &__video {
    position: absolute;
    object-fit: fill;
    height: 100%;
  }

  &__caption {
    margin: $margin-md $margin-no;

    @include breakpoint(md) {
      br {
        display: none;
      }
    }
  }

  &--relative {
    position: relative;
  }
}
