.slider {
  @include position-sticky;
  background-size: cover !important;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__caption {
    position: relative;
    margin: 4rem 0;
    z-index: 2;
   // border: 2px solid red;
    width: 50%;

    // h2 {
    //   color: white;
    //  // font-size: $font-size-lg;
    //   line-height: 1;
    // }
  }

  @include breakpoint(md) {
    display: none;
  }
}
