.summary {
  border: 2px solid orange;
  display: flex;
  font-size: $font-size-md;
  justify-content: flex-end;
  margin: $margin-lg $margin-no;

  &__col {
    width: 50%;
  }
  
  @include breakpoint(md) {
    //display: none;
    border: 3px solid blue;
  }
}
