* {
    color: $font-color-base;
}


h1, h2, h3 {
    font-size: $heading-font-size-base;
    font-weight: $heading-font-size-weight;
    border: 3px solid red;
}

a {
    text-decoration: none;
}

.text-white {
    color: white;
}