body {
  background-color: $grey-bg;
  font-family: $font-family-primary;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

img {
  display: block;
  width: 100%;
}

.main {
  padding: 2rem 0;
  background-color: $grey-bg;
  position: relative;
  z-index: 3;
}


.figure,
figure {
  border-radius: $border-radius-sm;
  overflow: hidden;
  //border: 2px solid blue;
  position: relative;

  .video {
    display: none;
   // border: 2px solid red;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
  }

  &:hover {
    .video {
      display: block;
    }
  }
}

.group-link {
  margin: 6.25rem 0 6.25rem -2.25rem;

  @include breakpoint(md) {
    margin: 2rem 0;
  }

  &__item {
    margin-bottom: 1rem;
  }
}

.products {
  margin-bottom: 8rem;
  h2 {
    margin-bottom: 3rem;
  }

  .product {
    .figure {
      margin-bottom: 2rem;
    }
    .button {
      margin-top: 1rem;
    }
  }
}
