// Transitions
@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

// Absolute center
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin position-sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}

// Breakpoint
@mixin breakpoint($breakpoint-size) {
  $breakpoint-value: map-get($breakpoints, $breakpoint-size);
  @media only screen and (max-width: $breakpoint-value) {
    @content;
  }
}